* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--font-size);
}

h1 {
    font-size: var(--font-size-lg);
    color: var(--text-primary);
}

h2 {
    font-size: var(--font-size-lg);
    color: var(--text-primary);
}

h3 {
    font-size: var(--font-size);
    color: var(--text-primary);
}

p {
    font-size: var(--font-size);
    color: var(--text-primary);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    display: flex;
    min-height: 100vh;
}

.material-symbols-rounded {
    font-size: var(--icon);
    color: var(--text-primary);
    display: inline-block;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}
